.row {

    &::after {
        content: "";
        clear: both;
        display: table;
    }

    &__four {
        float: left;
        width: 33.33%;
    }

    &__eight {
        float: left;
        width: 66.66%;
    }
}